<script setup lang="ts">
//library
import { ref,nextTick, provide } from 'vue'; 

//type
import { type Product } from '@/types/Product'  

//component
import ProductList from '@/components/ProductList.vue'; 
import ReceiptDetailTable from './ReceiptDetailTable.vue';
import ReceiptCard from './ReceiptCard.vue';
import MemberCard from './MemberCard.vue';
import ReceiptDialog from './ReceiptDialog.vue';

//store
import { useReceiptStore } from '@/stores/receipt'


const receiptStore = useReceiptStore()


const products1: Product[] = [
    {id: 1,name: 'ลาเต้ร้อน',price: 35.00, type: 1},
    {id: 2,name: 'ลาเต้เย็น',price: 45.00,type: 1},
    {id: 3,name: 'นมสดร้อน',price: 55.00,type: 1},
    {id: 4,name: 'นมสดเย็น',price: 35.00,type: 1},
    {id: 5,name: 'เอสเปรสโซ่ร้อน',price: 100.00,type: 1},
    {id: 6,name: 'เอสเปรสโซ่เย็น',price: 1000.00,type: 1},
    {id: 7,name: 'ชาไทยเย็น',price: 1000000.00,type: 1},
    {id: 8,name: 'ชานมไต้หวันเย็น',price: 10000.00,type: 1},
    {id: 9,name: 'ช็อกโกแล็ตมิ้วเชค',price: 60.00,type: 1},
]

const products2: Product[] = [
    {id: 1,name: 'ลาเต้ร้อน',price: 35.00, type: 2},
    {id: 2,name: 'ลาเต้เย็น',price: 45.00,type: 2},
]

const products3: Product[] = [
    {id: 1,name: 'ลาเต้ร้อน',price: 35.00, type: 3},
    {id: 2,name: 'ลาเต้เย็น',price: 45.00,type: 3},
    {id: 3,name: 'นมสดร้อน',price: 55.00,type: 3},
    
]
const tab = ref(1)
const selected = (p:Product) => {
    console.log('POSView: ',p)
    receiptStore.addReceiptItem(p)
    nextTick(()=>{
        if(divReceiptItem.value) divReceiptItem.value.scrollTo(0,divReceiptItem.value.scrollHeight)
    })
    
}


const divReceiptItem = ref<HTMLElement | null>(null)

function showReceipt(){
    receiptStore.showReceiptDialog()
}


</script>

<template>
    <v-container>
        <v-row>          
            <v-col cols="12" md="6">
                <v-container style="padding: 0px;">
                    <v-row>
                        <v-col cols="12">
                            <div ref="divReceiptItem" style="height: 250px; overflow: auto;">
                                <v-sheet min-width="300" max-width="600" height="250" elevation="6" >
                                    <ReceiptDetailTable></ReceiptDetailTable>
                                </v-sheet>
                            </div>
                        </v-col>
                        <v-col cols="12">
                            <v-sheet min-width="300" max-width="600" height="60" elevation="6">
                                <MemberCard></MemberCard>
                            </v-sheet>
                        </v-col>
                        <v-col cols="12">
                            <v-sheet min-width="300" max-width="600" height="120" elevation="6">
                                <ReceiptCard></ReceiptCard>
                            </v-sheet>
                        </v-col>
                        <v-col cols="12">
                            <v-sheet min-width="300" max-width="600" height="80" elevation="6">
                                <v-container>
                                    <v-row>
                                        <v-col cols="12" sm="6">
                                            <v-btn block rounded="xl" size="large">ยกเลิก</v-btn>
                                        </v-col>
                                        <v-col cols="12" sm="6">
                                            <v-btn block rounded="xl" size="large" color="primary" @click="showReceipt">ชำระเงิน</v-btn>
                                            <ReceiptDialog></ReceiptDialog>
                                        </v-col>
                                    </v-row>
                                </v-container>
                            </v-sheet>
                        </v-col>
                    </v-row>
                </v-container>
            </v-col>
            <v-col cols="12" md="6">
                <v-sheet min-width="300" max-width="600" height="600" elevation="6">
                    <v-tabs
                        v-model="tab"
                        color="deep-purple-accent-4"
                        align-tabs="center"
                        >
                        <v-tab :value="1">drink</v-tab>
                        <v-tab :value="2">smoothie</v-tab>
                        <v-tab :value="3">dessert</v-tab>
                    </v-tabs>
                    <v-window v-model="tab">

                        <v-window-item :value="1">
                            <ProductList :products="products1" @selectedProduct="selected"></ProductList>
                        </v-window-item>

                        <v-window-item :value="2">
                            <ProductList :products="products2" @selectedProduct="selected"></ProductList>
                        </v-window-item>

                        <v-window-item :value="3">
                            <ProductList :products="products3" @selectedProduct="selected"></ProductList>
                        </v-window-item>

                    </v-window>
                </v-sheet>
            </v-col>
        </v-row>
    </v-container>
</template>