<script setup lang="ts">
    //store
    import { useReceiptStore } from '@/stores/receipt'

    const receiptStore = useReceiptStore()
</script>


<template>
    <v-container class="text-body-2">
        <v-row no-gutters>
            <v-col cols="6">
                ยอดก่อนหัก
            </v-col>
            <v-col cols="6">
                {{ receiptStore.receipt?.totalBefore }}
            </v-col>

            <v-col cols="6">
                ส่วนลดสมาชิก
            </v-col>
            <v-col cols="6">
                {{  receiptStore.receipt.member?  receiptStore.receipt.totalBefore*0.05 : 0 }}
            </v-col>

            <v-col cols="6">
                ยอดรวม
            </v-col>
            <v-col cols="6">
                {{ receiptStore.receipt.total }}
            </v-col>
        </v-row>
    </v-container>
</template>