<script setup lang="ts">
    //store
    import { useReceiptStore } from '@/stores/receipt'


    const receiptStore = useReceiptStore()
</script>

<template>
    <v-table> <!--fixed-header height="300px"-->
        <thead>
            <tr>
                <th>No.</th>
                <th>Name</th>
                <th>price</th>
                <th>Unit</th>
                <th>Total</th>
                <th>Operation</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="(item, index) of receiptStore.receiptItems" :key="item.id">
                <td>{{ index + 1 }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.price }}</td>
                <td style="display: flex; align-items: center;"><v-btn icon="mdi-minus" density="compact" @click="receiptStore.dec(item)"></v-btn>{{ item.unit }}<v-btn icon="mdi-plus" density="compact" @click="receiptStore.inc(item)"></v-btn></td>
                <td>{{ item.unit * item.price }}</td>
                <td><v-btn icon="mdi-delete" @click="receiptStore.removeReceiptItem(item)"></v-btn></td>
            </tr>
        </tbody>
    </v-table>
</template>